<div class="col-md-6 offset-md-3">
  <h3 class="text-center">{{edit ? 'Modificar Pieza' : 'Nueva Pieza'}}</h3>
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <div class="elemento-form">
        <label>Descripción</label>
        <input type="text" class="form-control" id="descripcion" [(ngModel)]="piezas.descripcion" name="descripcion">
      </div>
      <div class="elemento-form">
        <label>Fecha</label>
        <input type="date" class="form-control" id="fechaCambio" [(ngModel)]="piezas.fechaCambio" name="fechaCambio">
      </div>
      <div class="elemento-form">
        <label>Kilometros</label>
        <input type="number" class="form-control" id="kilometros" [(ngModel)]="piezas.kilometros" name="kilometros">
      </div>
      <div class="elemento-form">
        <label>Precio</label>
        <input type="number" class="form-control" id="precio" [(ngModel)]="piezas.precio" name="precio">
      </div>

      <div class="boton-form">
        <button class="btn-success">{{ edit ? 'Actualizar' : 'Guardar' }}</button>
      </div>
    </div>
  </form>
</div>

