<div class="container-fluid">
  <h2 class="text-center">{{vehiculo?.marca}} {{vehiculo?.modelo}}</h2>

  <div class="table-responsive" *ngIf="filtrosList && filtrosList.length > 0">
    <h3 class="text-center">Mantenimientos</h3>
    <table class="table table-striped table-sm">
      <thead class="table-dark">
        <tr>
          <th>Aceite</th>
          <th>F. Aceite</th>
          <th>F. Aire</th>
          <th>F. Combustible</th>
          <th>F. Habitaculo</th>
          <th>Fecha</th>
          <th>Kilometros</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let filtro of filtrosList">
          <td><i class="fas" [ngClass]="{'fa-check check':filtro.aceite, 'fa-times aspa':!filtro.aceite}"></i></td>
          <td><i class="fas"
              [ngClass]="{'fa-check check':filtro.filtroAceite, 'fa-times aspa':!filtro.filtroAceite}"></i></td>
          <td><i class="fas" [ngClass]="{'fa-check check':filtro.filtroAire, 'fa-times aspa':!filtro.filtroAire}"></i>
          </td>
          <td><i class="fas"
              [ngClass]="{'fa-check check':filtro.filtroCombustible, 'fa-times aspa':!filtro.filtroCombustible}"></i>
          </td>
          <td><i class="fas"
              [ngClass]="{'fa-check check':filtro.filtroHabitaculo, 'fa-times aspa':!filtro.filtroHabitaculo}"></i></td>
          <td>{{filtro.fechaCambio | date:'dd/MM/yyyy'}}</td>
          <td>{{filtro.kilometros}}</td>
          <td>{{filtro.precio}}€</td>
          <td class="botones">
            <button class="btn btn-info"><i class="fas fa-wrench"></i></button>
            <button (click)="deleteFiltros(filtro.idFiltros)" class="btn btn-danger"
              style="margin-left: 10px;"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
  <div *ngIf="filtrosList && filtrosList.length == 0">
    <h5 class="text-center border m-3 p-3 bg-light">No hay datos de mantenimientos de motor</h5>
  </div>
  <div class="text-center">
    <button (click)="saveMantenimiento(vehiculo.idVehiculo)" class="btn btn-success text-center">Nuevo</button>
  </div>

  <div class="tabla" *ngIf="piezasList && piezasList.length > 0">
    <h3 class="text-center">Piezas</h3>
    <table class="table table-striped table-sm">
      <thead class="table-dark">
        <tr>
          <th>Descripción</th>
          <th>Fecha</th>
          <th>Kilómetros</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let pieza of piezasList">
          <td>{{pieza.descripcion}}</td>
          <td>{{pieza.fechaCambio | date:'dd/MM/yyyy'}}</td>
          <td>{{pieza.kilometros}}</td>
          <td>{{pieza.precio}}€</td>
          <td class="botones">
            <button class="btn btn-info"><i class="fas fa-wrench"></i></button>
            <button (click)="deletePiezas(pieza.idPieza)" class="btn btn-danger"
              style="margin-left: 10px;"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="piezasList && piezasList.length == 0">
    <h5 class="text-center border m-3 p-3 bg-light">No hay datos de cambios de piezas</h5>
  </div>

  <div class="text-center">
    <button (click)="savePiezas(vehiculo.idVehiculo)" class="btn btn-success text-center">Nuevo</button>
  </div>

  <div class="tabla" *ngIf="ruedasList && ruedasList.length > 0">
    <h3 class="text-center">Ruedas</h3>
    <table class="table table-striped table-sm">
      <thead class="table-dark">
        <tr>
          <th>Cantidad</th>
          <th>Marca</th>
          <th>Fecha</th>
          <th>Kilómetros</th>
          <th>Precio</th>
          <th>Acción</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let ruedas of ruedasList">
          <td>{{ruedas.numeroRuedas}}</td>
          <td>{{ruedas.marca}}</td>
          <td>{{ruedas.fechaCambio | date:'dd/MM/yyyy'}}</td>
          <td>{{ruedas.kilometros}}</td>
          <td>{{ruedas.precio}}€</td>
          <td class="botones">
            <button class="btn btn-info"><i class="fas fa-wrench"></i></button>
            <button (click)="deleteRuedas(ruedas.idRuedas)" class="btn btn-danger"
              style="margin-left: 10px;"><i class="fas fa-trash-alt"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="ruedasList && ruedasList.length == 0">
    <h5 class="text-center border m-3 p-3 bg-light">No hay datos de cambios de ruedas</h5>
  </div>

  <div class="text-center">
    <button (click)="saveRuedas(vehiculo.idVehiculo)" class="btn btn-success text-center">Nuevo</button>
  </div>

</div>
