
<div class="col-md-6 offset-md-3">
  <h3 class="text-center">{{ edit ? 'Modificar Vehiculo' : 'Nuevo Vehiculo' }}</h3>
  <form [formGroup]="formVehiculo" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label>Marca</label>
      <input type="text" class="form-control"
        id="marca" formControlName="marca">
        
      <label>Modelo</label>
      <input type="text" class="form-control"
        id="modelo" formControlName="modelo">
        
      <label>Fecha Compra</label>
      <input type="date" class="form-control"
        id="fechaCompra" formControlName="fechaCompra">
        
      <label>Imagen</label>
      <input type="file" class="form-control-file" id="imagen" (change)="changeImage($event)" accept="image/*">

      <!-- Muestra la imagen actual -->
      <div class="imagen-form" *ngIf="previewUrl">
        <img [src]="previewUrl" class="imagen-preview" alt="Imagen previa">
      </div>
    </div>

    <button class="btn-success">{{ edit ? 'Actualizar' : 'Guardar' }}</button>
  </form>
</div>

