<div class="col-md-6 offset-md-3">
    <h3 class="text-center">{{edit ? 'Modificar Nota' : 'Nueva Nota'}}</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="elemento-form">
          <label>Nota</label>
          <input type="text" class="form-control" id="descripcion" [(ngModel)]="nota.texto" name="descripcion">
        </div>
        <div class="elemento-form">
          <label>Fecha</label>
          <input type="date" class="form-control" id="fechaCambio" [(ngModel)]="nota.fechaNota" name="fechaCambio">
        </div>
  
        <div class="boton-form">
          <button class="btn btn-success">{{ edit ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </div>
    </form>
  </div>
  
