<div class="col-md-6 offset-md-3">
    <h3 class="text-center">{{edit ? 'Modificar Nota' : 'Nueva Nota'}}</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">
        <div class="elemento-form">
          <label>Nota</label>
          <textarea
            class="form-control"
            id="texto"
            name="texto"
            [(ngModel)]="nota.texto"
            rows="3"
            placeholder="Escribe tu nota aquí...">
          </textarea>
        </div>
        <div class="elemento-form">
          <label>Fecha</label>
          <input type="date" class="form-control" id="fechaCambio" [(ngModel)]="nota.fechaNota" name="fechaCambio">
        </div>

        <div class="boton-form">
          <button class="btn btn-success botton-press" appPressEffect>{{ edit ? 'Actualizar' : 'Guardar' }}</button>
        </div>
      </div>
    </form>
  </div>

