<div class="row tabla-principal">
  <div class="col-lg-5" *ngFor="let vehiculo of vehiculos">
    <div class="card mb-3 vehicle-card" (click)="detallesVehiculo(vehiculo.idVehiculo)" style="cursor: pointer;">
      <div class="card-header vehicle-header">
        <span><b>{{vehiculo.marca}} - {{vehiculo.modelo}}</b></span><br>
        <span><b>Fecha de fabricación: </b>{{vehiculo.fechaCompra | date:'dd/MM/yyyy'}}</span><br>
        <span><b>Matrícula: </b>{{vehiculo.matricula?.toUpperCase()}}</span>
      </div>
      <div class="card-body text-center vehicle-body">
        <div class="imagen-vehiculo">
          <img [src]="vehiculo.image?.imageUrl" class="imagen-vehiculo" alt="Imagen del vehículo">
        </div>
        <div class="botones">
          <button (click)="guardarVehiculo(vehiculo.idVehiculo); $event.stopPropagation()" class="btn btn-info">Modificar</button>
          <button (click)="confirmDeleteVehiculo(vehiculo.idVehiculo); $event.stopPropagation()" class="btn btn-danger ml-2">Eliminar</button>
        </div>
      </div>
    </div>
  </div>
</div>