<div class="row">
  <div class="col-md-5" *ngFor="let vehiculo of vehiculos">
    <div class="card mb-3">
      <div class="card-header">
        {{vehiculo.marca}} - {{vehiculo.modelo}}
      </div>
      <div class="card-body text-center">
        <div class="imagen-vehiculo">
          <img [src]="vehiculo.image?.imageUrl" class="imagen-vehiculo" alt="Imagen del vehículo">
        </div>
        <button (click)="guardarVehiculo(vehiculo.idVehiculo)" class="btn btn-info">Modificar</button>
        <button (click)="deleteVehiculo(vehiculo.idVehiculo)" class="btn btn-danger ml-2">Eliminar</button>
        <button (click)="detallesVehiculo(vehiculo.idVehiculo)" class="btn btn-primary ml-2">Detalles</button>
      </div>
    </div>
  </div>
</div>
