.navbar-nav {
  display: flex;
  width: 100%;
}


@media (max-width: 700px) {
    .navbar-nav {
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }

    .navbar-text {
      text-align: center;
    }
}
