<div class="container px-0">
  <h2 class="text-center">{{ vehiculo?.marca }} {{ vehiculo?.modelo }}</h2>

  <!-- Añade este select justo antes de los tabs -->
  <select class="form-select mobile-tabs" (change)="cambiarTab($event)">
    <option value="mantenimientos">Mantenimientos</option>
    <option value="piezas">Piezas</option>
    <option value="ruedas">Ruedas</option>
    <option value="seguros">Seguro</option>
    <option value="itv">ITV</option>
    <option value="notas">Notas</option>
  </select>

  <!-- Navegación de Pestañas -->
  <ul class="nav nav-tabs desktop-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active" id="mantenimientos-tab" data-bs-toggle="tab" data-bs-target="#mantenimientos"
        type="button" role="tab" aria-controls="mantenimientos" aria-selected="true">
        Mantenimientos
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="piezas-tab" data-bs-toggle="tab" data-bs-target="#piezas" type="button" role="tab"
        aria-controls="piezas" aria-selected="false">
        Piezas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="ruedas-tab" data-bs-toggle="tab" data-bs-target="#ruedas" type="button" role="tab"
        aria-controls="ruedas" aria-selected="false">
        Ruedas
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="seguros-tab" data-bs-toggle="tab" data-bs-target="#seguros" type="button" role="tab"
        aria-controls="seguros" aria-selected="false">
        Seguro
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="itv-tab" data-bs-toggle="tab" data-bs-target="#itv" type="button" role="tab"
        aria-controls="itv" aria-selected="false">
        ITV
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link" id="notas-tab" data-bs-toggle="tab" data-bs-target="#notas" type="button" role="tab"
        aria-controls="notas" aria-selected="false">
        Notas
      </button>
    </li>
  </ul>

  <!-- Contenido de las Pestañas -->
  <div class="tab-content" id="myTabContent">
    <!-- Pestaña Mantenimientos -->
    <div class="tab-pane fade show active" id="mantenimientos" role="tabpanel" aria-labelledby="mantenimientos-tab">
      <div *ngIf="!filtrosList || filtrosList.length === 0">
        <h3 class="text-center no-datos">No hay datos de mantenimientos de motor</h3>
      </div>
      <div class="text-center mt-3 mb-3">
        <button (click)="saveFiltros(vehiculo.idVehiculo)" class="btn btn-success">
          Nuevo
        </button>
      </div>
      <div *ngIf="filtrosList && filtrosList.length > 0" class="cards-container">
        <div class="mantenimiento-card" *ngFor="let filtro of filtrosList">
          <!-- HEADER -->
          <div class="card-header">
            <div class="title">
              <i class="fas fa-oil-can"></i>
              Cambio de Aceite
            </div>
            <span class="badge-ok" *ngIf="filtro.aceite; else badgeNo">
              OK
            </span>

            <ng-template #badgeNo>
              <span class="badge-no">NO</span>
            </ng-template>
          </div>
          <div class="separador-titulo">
            <span>Filtros</span>
          </div>
          <!-- FILTROS -->
          <div class="filters-grid">
            <div class="filter-item" [class.ok]="filtro.filtroAceite">
              <i class="fas fa-oil-can"></i>
              <span>Aceite</span>
            </div>
            <div class="filter-item" [class.ok]="filtro.filtroAire">
              <i class="fas fa-wind"></i>
              <span>Aire</span>
            </div>
            <div class="filter-item" [class.ok]="filtro.filtroCombustible">
              <i class="fas fa-gas-pump"></i>
              <span>Fuel</span>
            </div>
            <div class="filter-item" [class.ok]="filtro.filtroHabitaculo">
              <i class="fas fa-fan"></i>
              <span>Habitáculo</span>
            </div>
          </div>

          <div class="separador-linea"></div>
          <!-- KM + FECHA -->
          <div class="card-main">
            <div class="km">{{ filtro.kilometros }} km</div>
            <div class="fecha">{{ filtro.fechaCambio | date:'dd/MM/yyyy' }}</div>
          </div>
          <div class="separador-linea"></div>
          <!-- FOOTER -->
          <div class="card-footer">
            <div class="precio">{{ filtro.precio }} €</div>
            <div class="acciones">
              <button (click)="saveFiltros(filtro)" class="btn btn-info" appPressEffect>
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="deleteDato(filtro.idFiltros, 'filtro')" class="btn btn-danger" appPressEffect>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Piezas -->
    <div class="tab-pane fade" id="piezas" role="tabpanel" aria-labelledby="piezas-tab">
      <div *ngIf="!piezasList || piezasList.length === 0">
        <h3 class="text-center no-datos">No hay datos de cambios de piezas</h3>
      </div>
      <div class="text-center mt-3 mb-3">
        <button (click)="savePiezas(vehiculo.idVehiculo)" class="btn btn-success">
          Nuevo
        </button>
      </div>
      <div *ngIf="piezasList && piezasList.length > 0" class="cards-container">
        <div class="mantenimiento-card" *ngFor="let pieza of piezasList">
          <div class="separador-titulo">
            Descripción
          </div>
          <!-- HEADER -->
          <div class="card-header">
            <div class="text-center seguro-notas" style="width: 100%;">
              {{ pieza.descripcion }}
            </div>
          </div>
          <div class="separador-linea"></div>
          <!-- INFO PRINCIPAL -->
          <div class="card-main">
            <div class="km">{{ pieza.kilometros }} km</div>
            <div class="fecha">{{ pieza.fechaCambio | date:'dd/MM/yyyy' }}</div>
          </div>
          <div class="separador-linea"></div>
          <!-- FOOTER -->
          <div class="card-footer">
            <div class="precio">{{ pieza.precio }} €</div>
            <div class="acciones">
              <button (click)="savePiezas(pieza)" class="btn btn-info" appPressEffect>
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="deleteDato(pieza.idPieza, 'pieza')" class="btn btn-danger" appPressEffect>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Ruedas -->
    <div class="tab-pane fade" id="ruedas" role="tabpanel" aria-labelledby="ruedas-tab">
      <div *ngIf="!ruedasList || ruedasList.length === 0">
        <h3 class="text-center no-datos">No hay datos de cambios de ruedas</h3>
      </div>
      <div class="text-center mt-3 mb-3">
        <button (click)="saveRuedas(vehiculo.idVehiculo)" class="btn btn-success">
          Nuevo
        </button>
      </div>
      <div *ngIf="ruedasList && ruedasList.length > 0" class="cards-container">
        <div class="mantenimiento-card" *ngFor="let ruedas of ruedasList">
          <!-- HEADER -->
          <div class="card-header">
            <div class="title">
              {{ ruedas.marca }}
            </div>
            <span class="badge-ok">{{ ruedas.numeroRuedas }} uds</span>
          </div>
          <!-- INFO PRINCIPAL -->
          <div class="card-main">
            <div class="km">{{ ruedas.kilometros }} km</div>
            <div class="fecha">{{ ruedas.fechaCambio | date:'dd/MM/yyyy' }}</div>
          </div>
          <!-- FOOTER -->
          <div class="card-footer">
            <div class="precio">{{ ruedas.precio }} €</div>
            <div class="acciones">
              <button (click)="saveRuedas(ruedas)" class="btn btn-info" appPressEffect>
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="deleteDato(ruedas.idRuedas, 'rueda')" class="btn btn-danger" appPressEffect>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Seguro -->
    <div class="tab-pane fade" id="seguros" role="tabpanel" aria-labelledby="seguros-tab">
      <div *ngIf="!segurosList || segurosList.length === 0">
        <h3 class="text-center no-datos">No hay datos seguros</h3>
      </div>
      <div class="text-center mt-3 mb-3">
        <button (click)="saveSeguro(vehiculo.idVehiculo)" class="btn btn-success">
          Nuevo
        </button>
      </div>
      <div *ngIf="segurosList && segurosList.length > 0" class="cards-container">
        <div class="mantenimiento-card" *ngFor="let seguro of segurosList">
          <!-- HEADER -->
          <div class="card-header">
            <div class="title">
              {{ seguro.nombreSeguro }}
            </div>
            <span class="badge-ok">{{ seguro.modoSeguro }}</span>
          </div>

          <!-- INFO PRINCIPAL -->
          <div class="card-main">
            <div class="separador-titulo">
              <span>Periodo</span>
            </div>

            <div class="km fechas-seguro">
              <span>{{ seguro.fechaInicio | date:'dd/MM/yyyy' }}</span>
              <span class="separador">a</span>
              <span>{{ seguro.fechaFin | date:'dd/MM/yyyy' }}</span>
            </div>
          </div>

          <!-- NOTAS (solo si hay) -->
          <div *ngIf="seguro.notas" class="seguro-notas">
            <div class="separador-titulo">
              <span>Notas</span>
            </div>{{ seguro.notas }}
          </div>

          <div class="separador-linea"></div>

          <!-- FOOTER -->
          <div class="card-footer">
            <div class="precio">{{ seguro.precio }} €</div>
            <div class="acciones">
              <button (click)="saveSeguro(seguro)" class="btn btn-info" appPressEffect>
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="deleteDato(seguro.idSeguro, 'seguro')" class="btn btn-danger" appPressEffect>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña ITV -->
    <div class="tab-pane fade" id="itv" role="tabpanel" aria-labelledby="itv-tab">
      <div *ngIf="!itvList || itvList.length === 0">
        <h3 class="text-center no-datos">No hay ITV</h3>
      </div>
      <div class="text-center mt-3 mb-3">
        <button (click)="saveITV(vehiculo.idVehiculo)" class="btn btn-success">
          Nuevo
        </button>
      </div>
      <div *ngIf="itvList && itvList.length > 0" class="cards-container">

        <div class="mantenimiento-card" *ngFor="let itv of itvList">

          <!-- HEADER -->
          <div class="card-header">
            <div class="title">
              {{ itv.sitioITV }}
            </div>
          </div>

          <!-- INFO PRINCIPAL -->
          <div class="separador-titulo">
            <span>Periodo</span>
          </div>

          <div class="km fechas-seguro">
            <span>{{ itv.fechaITV | date:'dd/MM/yyyy' }}</span>
            <span class="separador">a</span>
            <span>{{ itv.fechaProximaITV | date:'dd/MM/yyyy' }}</span>
          </div>

          <!-- NOTAS -->
          
          <div *ngIf="itv.notasITV" class="seguro-notas">
            <div class="separador-titulo">
              <span>Notas</span>
            </div>
            {{ itv.notasITV }}
          </div>
          <!-- SEPARADOR -->
          <div class="separador-linea"></div>
          <!-- FOOTER -->
          <div class="card-footer">
            <div class="precio"></div>
            <div class="acciones">
              <button (click)="saveITV(itv)" class="btn btn-info" appPressEffect>
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="deleteDato(itv.idITV, 'itv')" class="btn btn-danger" appPressEffect>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Pestaña Notas -->
    <div class="tab-pane fade" id="notas" role="tabpanel" aria-labelledby="notas-tab">
      <div *ngIf="!notasList || notasList.length === 0">
        <h3 class="text-center no-datos">No hay notas</h3>
      </div>
      <div class="text-center mt-3 mb-3">
        <button (click)="saveNotas(vehiculo.idVehiculo)" class="btn btn-success">
          Nuevo
        </button>
      </div>
      <div *ngIf="notasList && notasList.length > 0" class="cards-container">
        <div class="mantenimiento-card" *ngFor="let nota of notasList">
          <!-- HEADER -->
          <div class="card-header">
            <div class="title">
              Nota
            </div>
            <span class="badge-ok">
              {{ nota.fechaNota | date:'dd/MM/yyyy' }}
            </span>
          </div>
          <div class="separador-linea"></div>
          <!-- TEXTO -->
          <div class="nota-texto">
            {{ nota.texto }}
          </div>
          <!-- SEPARADOR -->
          <div class="separador-linea"></div>
          <!-- FOOTER -->
          <div class="card-footer">
            <div class="precio"></div>
            <div class="acciones">
              <button (click)="saveNotas(nota)" class="btn btn-info botton-press" appPressEffect>
                <i class="fas fa-edit"></i>
              </button>
              <button (click)="deleteDato(nota.idNota, 'nota')" class="btn btn-danger botton-press" appPressEffect>
                <i class="fas fa-trash-alt"></i>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>