<div ngSkipHydration class="container-fluid">
  <h2 class="text-center">{{vehiculo?.marca}} {{vehiculo?.modelo}}</h2>

  <!-- Mantenimientos -->
  <div class="contenedor-tabla">
    <div *ngIf="filtrosList && filtrosList.length > 0">
      <h3 class="text-center">Mantenimientos</h3>
      <div class="table-responsive">
        <table class="table table-sm">
          <!-- Cabecera de la Tabla -->
          <thead>
            <tr>
              <th>Aceite</th>
              <th>F. Aceite</th>
              <th>F. Aire</th>
              <th>F. Combustible</th>
              <th>F. Habitaculo</th>
              <th>Fecha</th>
              <th>Kilometros</th>
              <th>Precio</th>
              <th>Acción</th>
          </thead>
          <tbody>
            <!-- Filas de Datos de Mantenimientos -->
            <tr *ngFor="let filtro of filtrosList">
              <td data-titulo="Aceite"><i class="fas"
                  [ngClass]="{'fa-check check':filtro.aceite, 'fa-times aspa':!filtro.aceite}"></i></td>
              <td data-titulo="F. Aceite"><i class="fas"
                  [ngClass]="{'fa-check check':filtro.filtroAceite, 'fa-times aspa':!filtro.filtroAceite}"></i></td>
              <td data-titulo="F. Aire"><i class="fas"
                  [ngClass]="{'fa-check check':filtro.filtroAire, 'fa-times aspa':!filtro.filtroAire}"></i></td>
              <td data-titulo="F. Combustible"><i class="fas"
                  [ngClass]="{'fa-check check':filtro.filtroCombustible, 'fa-times aspa':!filtro.filtroCombustible}"></i>
              </td>
              <td data-titulo="F. Habitáculo"><i class="fas"
                  [ngClass]="{'fa-check check':filtro.filtroHabitaculo, 'fa-times aspa':!filtro.filtroHabitaculo}"></i>
              </td>
              <td data-titulo="Fecha">{{filtro.fechaCambio | date:'dd/MM/yyyy'}}</td>
              <td data-titulo="Kilometros">{{filtro.kilometros}}</td>
              <td data-titulo="Precio">{{filtro.precio}}€</td>
              <td class="botones">
                <button (click)="updateMantenimiento(filtro.idFiltros)" class="btn btn-info"><i class="fas fa-edit"></i>
                </button>
                <button (click)="deleteFiltros(filtro.idFiltros)" class="btn btn-danger"
                  style="margin-left: 10px;"><i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div *ngIf="!filtrosList || filtrosList.length === 0">
      <h3 class="text-center">No hay datos de mantenimientos de motor</h3>
    </div>
    <div class="text-center">
      <button (click)="saveMantenimiento(vehiculo.idVehiculo)" class="btn btn-success">Añadir</button>
    </div>
  </div>

  <!-- Piezas -->
  <div class="contenedor-tabla">
    <div *ngIf="piezasList && piezasList.length > 0">
      <h3 class="text-center">Piezas</h3>
      <div class="table-responsive">
        <table class="table table-sm">
          <!-- Cabecera de la Tabla -->
          <thead>
            <tr>
              <th>Descripción</th>
              <th>Fecha</th>
              <th>Kilómetros</th>
              <th>Precio</th>
              <th>Acción</th>
            </tr>
          </thead>
          <tbody>
            <!-- Filas de Datos de Piezas -->
            <tr *ngFor="let pieza of piezasList">
              <td data-titulo="Pieza">{{pieza.descripcion}}</td>
              <td data-titulo="Fecha">{{pieza.fechaCambio | date:'dd/MM/yyyy'}}</td>
              <td data-titulo="Kilometros">{{pieza.kilometros}}</td>
              <td data-titulo="Precio">{{pieza.precio}}€</td>
              <td class="botones">
                <button (click)="updatePiezas(pieza.idPieza)" class="btn btn-info"><i class="fas fa-edit"></i>
                </button>
                <button (click)="deletePiezas(pieza.idPieza)" class="btn btn-danger"
                  style="margin-left: 10px;"><i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <!-- Mensajes de No hay Datos -->
    <div *ngIf="!piezasList || piezasList.length === 0">
      <h3 class="text-center">No hay datos de cambios de piezas</h3>
    </div>
    <!-- Botón guardar-->
    <div class="text-center">
      <button (click)="savePiezas(vehiculo.idVehiculo)" class="btn btn-success">Añadir</button>
    </div>
  </div>

  <!-- Ruedas -->
  <div class="contenedor-tabla">
    <div *ngIf="ruedasList && ruedasList.length > 0">
      <h3 class="text-center">Ruedas</h3>
      <div class="table-responsive">
        <table class="table table-sm">
          <!-- Cabecera de la Tabla -->
          <thead>
            <th>Cantidad</th>
            <th>Marca</th>
            <th>Fecha</th>
            <th>Kilómetros</th>
            <th>Precio</th>
            <th>Acción</th>
          </thead>
          <tbody>
            <!-- Filas de Datos de Ruedas -->
            <tr *ngFor="let ruedas of ruedasList">
              <td data-titulo="Num. Ruedas">{{ruedas.numeroRuedas}}</td>
              <td data-titulo="Marca">{{ruedas.marca}}</td>
              <td data-titulo="Fecha">{{ruedas.fechaCambio | date:'dd/MM/yyyy'}}</td>
              <td data-titulo="Kilometros">{{ruedas.kilometros}}</td>
              <td data-titulo="Precio">{{ruedas.precio}}€</td>
              <td class="botones">
                <button (click)="updateRuedas(ruedas.idRuedas)" class="btn btn-info"><i class="fas fa-edit"></i>
                </button>
                <button (click)="deleteRuedas(ruedas.idRuedas)" class="btn btn-danger"
                  style="margin-left: 10px;"><i class="fas fa-trash-alt"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div *ngIf="!ruedasList || ruedasList.length === 0">
      <h3 class="text-center">No hay datos de cambios de ruedas</h3>
    </div>

    <div class="text-center">
      <button (click)="saveRuedas(vehiculo.idVehiculo)" class="btn btn-success">Añadir</button>
    </div>

  </div>
</div>
