body {
  margin: 0;
  padding: 0;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f5f7fa;
}


/* Esto selecciona todos los componentes directos dentro de app-root */
app-root > * {
  margin-bottom: 20px;
}

h1,h2 {
  margin-top: 20px;
}

.elemento-form{
  margin-bottom: 20px;
}

@media (max-width: 700px) {

  h1 {
    font-size: 1.5em !important;
  }

  h2 {
    font-size: 1.3em !important;
  }

  h3 {
    font-size: 1.1em !important;
  }

  body {
    font-size: 0.9em !important;
  }

}




