<div class="col-md-6 offset-md-3">
  <div class="form-panel">
    <h3 class="text-center">{{ isEditMode() ? 'Modificar seguro' : 'Nuevo seguro'}}</h3>
    <form (ngSubmit)="onSubmit()">
      <div class="form-group">

      <div class="elemento-form">
        <label>Nombre</label>
        <input type="text" class="form-control" id="nombreSeguro" [(ngModel)]="seguro.nombreSeguro" name="nombreSeguro">
      </div>
      <div class="elemento-form">
        <label>Modalidad</label>
        <input type="text" class="form-control" id="modoSeguro" [(ngModel)]="seguro.modoSeguro" name="modoSeguro">
      </div>
      <div class="elemento-form">
        <label>Fecha Inicio</label>
        <input type="date" class="form-control" id="fechaInicio" name="fechaInicio"
          [(ngModel)]="seguro.fechaInicio"
          (ngModelChange)="calcularFin($event)">
      </div>
      <div class="elemento-form">
        <label>Fecha Fin</label>
        <input type="date" class="form-control" id="fechaFin" name="fechaFin"
        [(ngModel)]="seguro.fechaFin">
      </div>
      <div class="elemento-form">
        <label>Precio</label>
        <input type="number" class="form-control" id="precio" [(ngModel)]="seguro.precio" name="precio">
      </div>
      <div class="elemento-form">
        <label>Notas</label>
        <textarea class="form-control" id="notas" [(ngModel)]="seguro.notas" name="notas" rows="4"></textarea>
      </div>
      <div class="boton-form">
        <button type="button" class="btn btn-secondary botton-press" appPressEffect (click)="irDetalleVehiculo()">
          Cancelar
        </button>
        <button class="btn btn-success botton-press" appPressEffect>{{ isEditMode() ? 'Actualizar' : 'Guardar' }}</button>
      </div>
    </div>
  </form>
  </div>
</div>
